*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animação robô */

#anima-div{
    /* background: url("../imgs/group4.png") -4946px -0px no-repeat; */
    background: url("../imgs/group2.png") -11960px -0px no-repeat;
    width: 460px;
    height: 268px;
    animation: anima-sprite 15s steps(26) infinite;
}

@keyframes anima-sprite{
    from{background-position: 0px;}
    to{background-position: -11960px;}
}

